body {
display: flex;
flex-direction: column;
align-items: center;
}

ul {
    list-style-type:none;
}

.active{

}

.inactive{
display: none;
}

.complete{
    display: none;
}

.timer {
    
}

.home {

}

.question{

}